.Card {
  border: 1px solid blue;
  width: 85px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  background-color: white;
}
